---
- name: AWS CLI | Install supporting packages
  apt:
    name: python-pip

# install software
- name: ensure awscli is at the latest version
  pip: name=awscli state=latest
  tags:
    - aws_cli
    - packages

# create aws configuration files
- name: create users .aws directory
  sudo: yes
  sudo_user: "{{ item.user }}"
  file:
    group="{{ item.user }}"
    mode=0755
    owner="{{ item.user }}"
    path="~/.aws"
    state=directory
  with_items: aws_cli_credentials
  tags:
    - aws_cli
    - configuration

- name: create users .aws credentials
  sudo: yes
  sudo_user: "{{ item.user }}"
  template:
    dest="~/.aws/config"
    src=config.j2
    owner="{{ item.user }}"
    group="{{ item.user }}"
    mode=0650
  with_items: aws_cli_credentials
  tags:
    - aws_cli
    - configuration

# recover files from s3 archives using sync
- name: recover files within archives
  sudo: yes
  sudo_user: "{{ item.user }}"
  command: "aws --profile={{ item.credentials|default('default') }} --region={{ item.region|default('us-east-1') }} --color=off s3 cp s3://{{ item.bucket }}/{{ item.remote }}/ {{ item.local }} --recursive"
  with_items: aws_cli_archives
  tags:
    - aws_cli
    - files

# Create services to watch folders
- name: ensure inotify-tools are installed
  apt: pkg=inotify-tools state=latest
  tags:
    - aws_cli
    - packages

- name: configure s3 watcher executable for folders
  template: >
    dest="/usr/local/bin/filewatcher-{{ item.name|replace(' ', '-') }}.sh"
    src=s3watcher.j2
    mode=0755
    owner=root
    group=root
  with_items: aws_cli_archives
  tags:
    - aws_cli
    - files

- name: configure upstart service template for folder s3 watchers
  template:
    dest="/etc/init/filewatcher-{{ item.name|replace(' ', '-') }}.conf"
    src=s3upstart.j2
    mode=0644
    owner=root
    group=root
  with_items: aws_cli_archives
  tags:
    - aws_cli
    - service

- name: stop filewatcher services
  service:
    name="filewatcher-{{ item.name|replace(' ', '-') }}"
    enabled=yes
    state=stopped
    sleep=60
  with_items: aws_cli_archives
  tags:
    - aws_cli
    - service

- name: start filewatcher services
  service:
    name="filewatcher-{{ item.name|replace(' ', '-') }}"
    enabled=yes
    state=started
    sleep=60
  with_items: aws_cli_archives
  tags:
    - aws_cli
    - service
